<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="Home" [routerLinkActive]="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="About" [routerLinkActive]="">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="Contact" [routerLinkActive]="">Contact</a>
      </li>
    </ul>
  <!-- </nav> -->

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="Home"> -->
  <!-- <span class="sr-only"> </span -->
  <!-- </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="About">
             <span class="sr-only">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="Contact">
             <span class="sr-only">
          </a>
        </li>
      </ul>
  </div> -->
</nav>
