<div class="container">
  <div class="card-body">
    <h1>{{ title }}</h1>
    <div class="content-container">
      <ng-template [ngIf]="show === 0">
        <h1>{{ content }}</h1>
      </ng-template>
      <ng-template [ngIf]="show === 1">
        <h1>
          This is all about me brahv i just can not help my self essaaay angel
          you know what time it eeeezzzzz
        </h1>

        <app-home></app-home>
      </ng-template>
      <ng-template [ngIf]="show === 2">
        <h1>YOU DONT CONTACT MEEE??</h1>
      </ng-template>
      <ng-template [ngIf]="show === 3">
        <h1>What else you gat</h1>
      </ng-template>
    </div>
  </div>
  <div class="bottom-nav">
    <button
      class="bottom-nav"
      (click)="clickHandeler()"
      class="btn btn-primary"
    >
      Click here
    </button>
  </div>
</div>
