@media (min-width: 768px) and (max-width: 1024px) {
  .landing {
    height: 100vh;
    width: 100%;
    background-color: #cbdbfc;
    /* z-index: 2; */
    /* background-image: url("../../../../assets/landinglogo.png"); */
  }
  .copy > p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 35%;
    font-size: 27px;
    margin-right: -50%;
  }

  img {
    position: absolute;
    bottom: 2%;
    right: 6%;
    height: 150px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .landing {
    height: 100vh;
    width: 100%;
    background-color: #cbdbfc;
    z-index: 2;
  }

  .copy > p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 17%;
    font-size: 27px;
    margin-right: -50%;
  }

  img {
    position: absolute;
    bottom: 2%;
    right: 6%;
    height: 150px;
    width: auto;
  }
}
