.landing {
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 2;
  /* background-image: url("../../../../assets/landinglogo.png"); logo color #cbdbfc */
}

.copy > p {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 30%;
  font-size: 27px;
  margin-right: -50%;
}
.fade-in {
  animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  position: absolute;
  bottom: 2%;
  right: 6%;
  height: 100px;
  width: auto;
  animation: crescendo 1.5s alternate ease-in-out;
}

@keyframes crescendo {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 1200px) {
  .copy > p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    font-size: 27px;
    margin-right: -50%;
  }

  img {
    position: absolute;
    bottom: 2%;
    right: 6%;
    height: 150px;
    width: auto;
  }
}
