html, body { margin: 0; height: 100%; }

.back-ground {
    /* background-color: cornflowerblue; */
    background-image: url('../assets/franchoekbgtexture.png');
    filter: brightness(50%);
    height: 800px;
}