<div class="title">
  <h3>About this site</h3>
</div>
<div class="panel-stack">
  <p class="about">
    I am Anthony Marques, I design and build websites. I specialise in Angular,
    TypeScript, JavaScript.
  </p>
</div>
<div class="title">
  <h3>Tech stack</h3>
</div>
<div class="col-sm panel">
  <div class="content-logo">
    <div class="row">
      <div class="col icon">
        <img src="../../../../assets/JavaScript-logo.png" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/typescript.svg" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/angular-icon.svg" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/node-logo.svg" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/JavaScript-logo.png" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/typescript.svg" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/angular-icon.svg" />
      </div>
      <div class="col icon">
        <img src="../../../../assets/node-logo.svg" />
      </div>
    </div>
  </div>
</div>
