h1,
p {
  color: white;
}

.card-body {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.content-container {
  position: absolute;
  left: -622px;
  height: 40px;
  background: transparent;
  padding-bottom: 150px;
  animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.picture {
  width: 500px;
  height: auto;
  transform: scaleX(-1);
}

@keyframes drive {
  from {
    transform: translateX(-622px);
  }
  to {
    transform: translateX(140%);
  }
}
