/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.bg {
  background-image: url("./assets/franchoekbgtexture.png");
  height: 800px;
  
}

h1,
h2,
h3,
p,
a {
  font-family: 'Roboto Mono', monospace;
}

.card-body {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

a:hover {
  color: grey;
  text-decoration-line: none;
}
