.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.panel p {
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}

.title h3 {
  color: white;
}

.title-social {
  padding-bottom: 15px;
}

.panel-about {
  background-color: white;
  padding: 20px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

.flex {
  padding-left: 10px;
}

.flex img {
  height: 70px;
  width: auto;
}

.social {
  text-align: center;
}
