.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.panel p {
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}

.title h3 {
  color: white;
}

.title-social {
  padding-bottom: 15px;
}
.title-profile {
  padding-top:15px;
}

.title-bio {
  padding-top: 15px;
  text-align: center;
}
.panel-profile {
  text-align: center;
  padding-top: 10px;
}
.panel-profile  p {
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}
.panel-about {
  background-color: white;
  padding: 20px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}
@media only screen and (max-width: 1200px) {
  .flex {
    padding-left: 10px;
  }

  .flex img {
    height: 170px;
    width: auto;
  }

  .social {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .flex {
    padding-left: 10px;
  }

  .flex img {
    height: 70px;
    width: auto;
  }

  .social {
    text-align: center;
  }
}
