<div class="title">
  <h3>
    About
  </h3>
</div>
<div class="panel">
  <h2>Anthony's bio</h2>
  <p>
    I have been in the development industry for 7 years. Knowing the ins and
    outs of SDLC, agile Scrum development. Scrum certified and in a QA role. I
    wanted do more and add more value to so asked if I could apply for the role
    and after a lot of learning I'm a Front End developer and I have never been
    happier about it.
  </p>
</div>
<div class="panel-about">
  <div class="social">
    <h2 class="title-social">social</h2>
    <div class="flex-container">
      <div class="flex">
        <img src="../../../../assets/twitter-icon.png" />
      </div>
      <div class="flex">
        <img src="../../../../assets/linkedIn-icon.png" class="linkedIn" />
      </div>
      <div class="flex">
        <img src="../../../../assets/wpicon.png" />
      </div>
      <div class="flex">
        <img src="../../../../assets/dribbble-icon-1.svg" />
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="card">
    <img
      src="../../../../assets/profile.jpg"
      alt="Avatar"
      style="width: 100%; color: grey;"
    />
  </div>
  <h4><b>Anthony Marques</b></h4>
  <p>Front End Developer This website is built using Angular framework.</p>
</div>
