<div class="title">
  <h1>About Anthony</h1>
</div>
<div class="container">
  <div class="card-body">
    <div class="content-container">
      <div class="row">
        <div class="col-sm panel">
          <div class="row">
            <div class="col icon">
              <a href="https://pixel-tones.com" target="_blank">
                <img src="../../../../assets/wpicon.png" />
              </a>
            </div>
            <div class="col icon">
              <a href="https://twitter.com/Pixel_Tones" target="_blank">
                <img src="../../../../assets/twitter-icon.png" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col icon">
              <a href="https://dribbble.com/tony2tones" target="_blank">
                <img src="../../../../assets/dribbble-icon-1.svg" />
              </a>
            </div>
            <div class="col icon bg-link">
              <a href="https://twitter.com/Pixel_Tones" target="_blank">
                <img src="../../../../assets/linkedIn-icon.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <img class="picture" src="../../../../assets/tonyHamock.png" />
        </div>
      </div>
    </div>
  </div>
</div>
