<div class="container">
  <div class="card-body">
    <h1>About Anthony</h1>
    <div class="content-container">
      <div class="row">
        <div class="col-sm panel">
          <div class="row">
            <div class="col icon">
              <a href="https://dribbble.com/tony2tones">
                <img src="../../../../assets/dribbble-icon-1.svg" />
              </a>
            </div>
            <!-- <div class="col icon">
              <img src="../../../../assets/dribbble-icon-1.svg" />
            </div> -->
          </div>
        </div>
        <div class="col-sm">
          <img class="picture" src="../../../../assets/tonyHamock.png">
        </div>
      </div>
    </div>
  </div>
</div>
